<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="cat"><h4>tsn.7 flickr-stream</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center">
			<span class="gensmall">
			<!-- Start of Flickr Badge -->
				<style type="text/css">
					.zg_div {margin:0px 5px 5px 0px; width:120px;}
					.zg_div_inner { color:#587eaa; text-align:center; font-family:arial, helvetica; font-size:11px;}
					.zg_div a, .zg_div a:hover, .zg_div a:visited {color:#003366; background:inherit !important; text-decoration:none !important;}
				</style>
				<script type="text/javascript">
					zg_insert_badge = function() {
						var zg_bg_color = 'ffffff';
						var zgi_url = 'http://www.flickr.com/apps/badge/badge_iframe.gne?zg_bg_color='+zg_bg_color+'&zg_context=in%2Fpool-tsn%2F&zg_group_id=72902415%40N00';
						document.write('<iframe style="background-color:#'+zg_bg_color+'; border-color:#'+zg_bg_color+'; border:none;" width="113" height="151" frameborder="0" scrolling="no" src="'+zgi_url+'" title="Flickr Badge"><\/iframe>');
						if (document.getElementById) document.write('<div id="zg_whatlink"><a href="http://www.flickr.com/badge_new.gne"	style="color:#003366;" onclick="zg_toggleWhat(); return false;">tsn flickr Photostream<\/a><\/div>');
					}
					zg_toggleWhat = function() {
						document.getElementById('zg_whatdiv').style.display = (document.getElementById('zg_whatdiv').style.display != 'none') ? 'none' : 'block';
						return false;
					}
				</script>
				<div class="zg_div">
					<div class="zg_div_inner">
						<a href="http://www.flickr.com/groups/tsn"><strong style="color:#3993ff">flick<span style="color:#ff1c92">r</span><span style="color:#003366">.tsn</span><span style="color:#587eaa">.7</strong></span></a><br>
						<script type="text/javascript">zg_insert_badge();</script>
						<div id="zg_whatdiv">This is a Flickr badge showing public photos from the <a href="http://www.flickr.com/groups/tsn/pool/">the-spot.net group pool</a>. Make your own badge <a href="http://www.flickr.com/badge_new.gne">here</a>.</div>
						<script type="text/javascript">if (document.getElementById) document.getElementById('zg_whatdiv').style.display = 'none';</script>
					</div>
				</div>
				<!-- End of Flickr Badge -->
				<?php //<object width="450" height="522" align="middle"><param name="FlashVars" VALUE="ids=72902415@N00&names=the-spot.net&userName=neotsn&userId=69723534@N00&titles=on&source=groups"></param><param name="PictoBrowser" value="http://www.db798.com/pictobrowser.swf"></param><param name="scale" value="noscale"></param><param name="bgcolor" value="#ffffff"></param><embed src="http://www.db798.com/pictobrowser.swf" FlashVars="ids=72902415@N00&names=the-spot.net&userName=neotsn&userId=69723534@N00&titles=on&source=groups" loop="false" quality="best" scale="noscale" bgcolor="#ffffff" width="450" height="522" name="PictoBrowser" align="middle"></embed></object> ?>
			</span>
		</td>
	</tr>
</table>