<!-- IF not S_USER_LOGGED_IN -->
<div class="tsn8_myspot_mini_profile_wrapper tsn8_myspot_wrapper">
	<span class="tsn8_myspot_module_header">Welcome, Visitor!</span>

	<div class="tsn8_myspot_module_content">
		<form method="post" action="{S_LOGIN_ACTION}">
			<span class="tsn8_myspot_login_fields">
				<p>{L_USERNAME}:<br/><input class="post" type="text" name="username" size="10"/></p>
				<p>{L_PASSWORD}:<br/><input class="post" type="password" name="password" size="10"/></p><br/>
				<input type="submit" class="btnmain" name="login" value="{L_LOGIN}"/><br/><br/>
			</span>
			{S_FORM_TOKEN}
			<span class="tsn8_myspot_module_footer"><!-- IF S_AUTOLOGIN_ENABLED --><input type="checkbox" class="radio"
																						  name="autologin"/>&nbsp;&nbsp;{L_LOG_ME_IN}<!-- ENDIF --></span>
		</form>
	</div>
</div>
<!-- ENDIF -->
<!-- //IF S_DISPLAY_BIRTHDAY_LIST -->

<div class="tsn8_myspot_mini_forums_wrapper tsn8_myspot_wrapper">
	<span class="tsn8_myspot_module_header">tsn{L_FORUM}s</span>
	<ul class="tsn8_mini_forum_list">
		<!-- BEGIN forumrow -->
		<!-- IF forumrow.S_IS_CAT -->
		<li class="tsn8_mini_forum_category" style="background-image: url('{forumrow.FORUM_FOLDER_IMG_SRC}');"><a
				href="{forumrow.U_VIEWFORUM}" class="myspot_forum_name">{forumrow.FORUM_NAME}</a></li>
		<!-- ELSEIF forumrow.S_IS_LINK -->
		<li class="tsn8_mini_forum_link" style="background-image: url('{forumrow.FORUM_FOLDER_IMG_SRC}');"><a
				class="myspot_forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></li>
		<!-- ELSE -->
		<!-- IF forumrow.S_NO_CAT -->
		<li class="tsn8_mini_forum_category" style="background-image: url('{forumrow.FORUM_FOLDER_IMG_SRC}');">
			{L_FORUM}s
		</li>
		<!-- ENDIF -->
		<li class="tsn8_mini_forum_listing" style="background-image: url('{forumrow.FORUM_FOLDER_IMG_SRC}');"><a
				class="myspot_forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></li>
		<!-- ENDIF -->
		<!-- BEGINELSE -->
		<li class="tsn8_mini_forum_listing" style="background-image: url('{forumrow.FORUM_FOLDER_IMG_SRC}');">
			{L_NO_FORUMS}
		</li>
		<!-- END forumrow -->
	</ul>
</div>