<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<th>&nbsp;{L_FORUM}s&nbsp;</th>
</tr>
<!-- BEGIN forumrow -->
	<!-- IF forumrow.S_IS_CAT -->
		<tr>
			<td class="cat" nowrap><a href="{forumrow.U_VIEWFORUM}" class="myspot_forum_name">{forumrow.FORUM_NAME}</a></td>
		</tr>
	<!-- ELSEIF forumrow.S_IS_LINK -->
		<tr>
			<td class="row1">
				<a class="myspot_forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
			</td>
		</tr>
	<!-- ELSE -->
		<!-- IF forumrow.S_NO_CAT -->
			<tr>
				<td class="cat">{L_FORUM}s</td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="row1" width="100%">
				<a class="myspot_forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>			</td>
		</tr>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<tr>
		<td class="row1" align="center"><p class="gensmall">{L_NO_FORUMS}</p></td>
	</tr>
<!-- END forumrow -->
</table>
