<!-- IF navlinks -->
<div class="tsn8_breadcrumb_wrapper">
	<span class="tsn8_breadcrumb_header"><a class="tsn8_breadcrumb" href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a class="tsn8_breadcrumb" href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></span>
	<!--<p class="tsn8_breadcrumbs">-->
	<!--<a href="{U_INDEX}">{L_INDEX}</a>&lt;!&ndash; BEGIN navlinks &ndash;&gt; &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a>&lt;!&ndash; END navlinks &ndash;&gt;-->
	<!--</p>-->
	<!-- IF S_DISPLAY_SEARCH -->
	<!--<p class="tsn8_searchbar"><span>{L_VIEW}: <a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED_SHORT}</a>&nbsp;|&nbsp;<a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS_SHORT}</a>&lt;!&ndash; IF S_USER_LOGGED_IN &ndash;&gt;&nbsp;|&nbsp;<a href="{U_SEARCH_NEW}">{L_SEARCH_NEW_SHORT}</a>&nbsp;|&nbsp;<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF_SHORT}</a>&lt;!&ndash; ENDIF &ndash;&gt;</span></p>-->
	<!-- ENDIF -->
</div>
<!-- ENDIF -->