<!-- INCLUDE myspot_overall_header.html -->
		<table cellspacing="0px" cellpadding="0px" border=0>
			<tr>
				<td width="100%" align="center">
					<table cellspacing="0px" cellpadding="0px" border=0 width="900">
						<tr>
							<td width="160" class="module-sidebox">
								<!-- IF S_USER_LOGGED_IN --><div id="divMiniProfile"></div><br /><!-- ENDIF -->
								<div id="divMiniForumIndex"></div>
							</td>
							<td width="10" nowrap></td>
							<td width="730" align="center" class="module-mainbox">
								<table cellspacing="0px" cellpadding="0px" border=0 width="730">
									<tr>
										<td width="360" class="module-mainbox">
											<div id="divSpecialReport"></div>									
										</td>
										<td width="10" nowrap>&nbsp;</td>
										<td width="360" class="module-mainbox">
											<div id="divTwitterFeed">
												<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/thespotnet" data-widget-id="433699503506329600">Tweets by @thespotnet</a>
												<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
											</div>
										</td>
									</tr>
								</table>
								<br />
								<table cellspacing=1 cellpadding="0px" border=0 width="730">
									<tr>
										<td class="module-mainbox" rowspan="2">
											<!-- INCLUDE modules/newposts.html -->
											<br />
											<!-- INCLUDE modules/stats.html -->
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>			
		</table>
<!-- INCLUDE overall_footer.html -->
