<!-- INCLUDE myspot_overall_header.html -->
		<table cellspacing="0px" cellpadding="0px" border=0>
			<tr>
				<td width="100%" align="center">
					<table cellspacing="0px" cellpadding="0px" border=0 width="900">
						<tr>
							<td width="160" class="module-sidebox">
								<!-- IF S_USER_LOGGED_IN --><!-- INCLUDE modules/myspot-mini-profile.html --><!-- ENDIF -->
								<!-- INCLUDE modules/myspot-mini-index.html -->
							</td>
							<td width="10" nowrap></td>
							<td width="730" align="center" class="module-mainbox">
								<table cellspacing="0px" cellpadding="0px" border=0 width="730">
									<tr>
										<td width="25" class="module-inset-tl"></td>
                                        <td width="680" class="module-inset-tm"></td>
                                        <td width="25" class="module-inset-tr"></td>
									</tr>
                                    <tr>
                                    	<td width="730" colspan="3" class="module-inset">
                                        	<table cellspacing="0px" cellpadding="0px" border=0 width="730">
                                            	<tr>
                                                    <td width="25"></td>
                                                    <td width="400"><!-- INCLUDE modules/myspot-news.html --></td>
                                                    <td width="10"></td>
                                                    <td width="270"><!-- INCLUDE modules/twitter.html --></td>
                                                    <td width="25"></td>
                                                </tr>
                                            </table>
                                        </td>
									</tr>
								</table>
								<br />
								<table cellspacing=1 cellpadding="0px" border=0 width="730">
									<tr>
										<td width="590" class="module-mainbox" rowspan="2">
											<!-- INCLUDE modules/newposts.html -->
											<br />
											<!-- INCLUDE modules/stats.html -->
										</td>
										<td width="10" rowspan="2" nowrap>&nbsp;</td>
										<td width="140" class="module-sidebox">
											<!-- INCLUDE modules/flickr_pics.html -->
											<!-- <br /> -->
											<!-- NCLUDE modules/whatpulse.html -->
											<br />
											<!-- INCLUDE modules/niftystuff.html -->
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>			
		</table>
<!-- INCLUDE overall_footer.html -->
