<!-- INCLUDE myspot_overall_header.html -->
<table class="tsn8_myspot_content_wrapper">
	<tr>
		<td class="tsn8_myspot_left_sidebar">
			<!-- IF S_USER_LOGGED_IN -->
			<div id="divMiniProfile" class="tsn8_myspot_module_wrapper">
				<p class="tsn8_loading">Loading Profile...<br/>
					<img src="styles/tsn7/theme/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
			<input type="hidden" id="login_status" value="1"/>
			<!-- ELSE -->
			<input type="hidden" id="login_status" value="0"/>
			<!-- ENDIF -->
			<div id="divMiniForumIndex" class="tsn8_myspot_module_wrapper">
				<p class="tsn8_loading">Loading Forums...<br/>
					<img src="styles/tsn7/theme/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
		</td>
		<td class="tsn8_myspot_center_content">
			<div id="divSpecialReport" class="tsn8_myspot_module_wrapper">
				<p class="tsn8_loading">Loading tsn Special Report...<br/>
					<img src="styles/tsn7/theme/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
			<!-- //INCLUDE modules/newposts.html -->
			<div id="divNewPosts" class="tsn8_myspot_module_wrapper">
				<p class="tsn8_loading">Loading the new posts since your last visit...<br/>
					<img src="styles/tsn7/theme/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
			<!-- //INCLUDE modules/stats.html -->
			<div id="divForumStats" class="tsn8_myspot_module_wrapper">
				<p class="tsn8_loading">Loading Forum Stats...<br/>
					<img src="styles/tsn7/theme/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
		</td>
		<td class="tsn8_myspot_right_sidebar">
		</td>
	</tr>
</table>
<!-- INCLUDE overall_footer.html -->
