<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->
<div class="tsn8_information tsn8_myspot_wrapper_med">
	<span class="tsn8_information_header">{L_FORUM_RULES}</span>
		<span class="tsn8_information_text align_left">
			<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
			<!-- ELSE -->
			{FORUM_RULES}
			<!-- ENDIF -->
		</span>
</div>
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->
<div class="tsn8_information tsn8_myspot_wrapper_med">
	<span class="tsn8_information_header">{L_OOPS_ACCESS}</span>
	<span class="tsn8_information_text align_left">{L_NO_READ_ACCESS}</span>
	<!-- IF not S_USER_LOGGED_IN -->
	<form method="post" action="{S_LOGIN_ACTION}" class="tsn8_forum_login">
		<span class="tsn8_forum_login_wrapper">
			<label for="username">{L_USERNAME}:</label><br/>
			<input id="username" class="post" type="text" name="username" size="10"/>
		</span>
		<span class="tsn8_forum_login_wrapper">
			<label for="pass">{L_PASSWORD}:</label><br/>
			<input id="pass" class="post" type="password" name="password" size="10"/>
		</span>
		<br/>
		<!-- IF S_AUTOLOGIN_ENABLED -->
		<input type="checkbox" class="radio" name="autologin" id="autolog"/> <label for="autolog">{L_LOG_ME_IN}</label>
		<br/>
		<!-- ENDIF -->
		<input type="submit" class="btnmain" name="login" value="{L_LOGIN}"/>
	</form>
	<!-- ENDIF -->
</div>

<br clear="all"/>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ACTIVE -->
<div class="tsn8_myspot_wrapper">
	<span class="tsn8_myspot_module_header">{L_ACTIVE_TOPICS}</span>
	<!-- BEGIN topicrow -->
	<div class="tsn8_topic_row_wrapper">
		<div class="tsn8_topic_folder_icon">{topicrow.TOPIC_FOLDER_IMG}</div>
		<div class="tsn8_topic_list_info">
			<p class="tsn8_topic_list_header">
				<!-- IF S_TOPIC_ICONS and topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title=""/><!-- ENDIF -->
				<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
				{topicrow.ATTACH_ICON_IMG}<!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED -->
				<b>{topicrow.TOPIC_TYPE}</b><!-- ENDIF -->
				<a class="tsn8_forum_link" title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a>
				<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a>&nbsp;
				<!-- ENDIF -->
				<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
				<!-- ENDIF -->
			</p>

			<p class="tsn8_forum_description">{L_BY}: {topicrow.TOPIC_AUTHOR_FULL}<!-- IF topicrow.PAGINATION --> [
				{GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ]</p><!-- ENDIF -->
		</div>
		<div class="tsn8_forum_topics_count">
			<span class="tsn8_myspot_stat">
				<span class="tsn8_topic_stat_value">{topicrow.REPLIES}</span>
				<span class="tsn8_topic_stat_header">{L_REPLIES}</span>
			</span>
		</div>
		<div class="tsn8_forum_topics_count">
			<span class="tsn8_myspot_stat">
				<span class="tsn8_topic_stat_value">{topicrow.VIEWS}</span>
				<span class="tsn8_topic_stat_header">{L_VIEWS}</span>
			</span>
		</div>
		<div class="tsn8_topic_last_post_wrapper">
			<!-- IF topicrow.LAST_POST_TIME -->
			<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_AVATAR}</p>

			<p class="topicdetails"><a href="{topicrow.U_LAST_POST}">{topicrow.LAST_POST_TIME} {LAST_POST_IMG}</a></p>
			<!-- ELSE -->
			<p class="topicdetails">{L_NO_POSTS}</p>
			<!-- ENDIF -->
		</div>
	</div>
	<!-- BEGINELSE -->
	<p><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></p>
	<!-- END topicrow -->
</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<div id="pagecontent">

	<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS or (not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow)) -->
	<div class="tsn8_viewtopic_pageheader">
		<div class="tsn8_viewtopic_pageheader_header_wrapper">
			<span class="tsn8_viewtopic_pageheader_header"><a href="{U_VIEW_TOPIC}">{FORUM_NAME}</a></span>
			<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<span class="tsn8_viewtopic_pageheader_buttons"><a href="{U_POST_NEW_TOPIC}" title="{L_NEW_TOPIC}"><span class="tsn8_icon_nohover tsn8_icon_newtopic"></span></a>
			<!--<span class="tsn8_icon_nohover tsn8_icon_newtopic" data-id="{AJAX_DATA_ID}" data-url="{AJAX_DATA_URL_PATH}" data-mode="{AJAX_DATA_MODE}" data-param="{AJAX_DATA_ID_PARAM}"></span>-->
			</span>
			<!-- ENDIF -->
		</div>
		<div class="tsn8_viewtopic_pageheader_control_wrapper">
			<!-- IF not S_IS_BOT and S_WATCH_FORUM_LINK -->
			<span class="tsn8_viewtopic_pageheader_topicbuttons"><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}"><span class="tsn8_icon_mini tsn8_icon_subscribe"></span></a></span>
			<!-- ENDIF -->
			<!-- IF TOTAL_POSTS -->
			<span class="tsn8_viewtopic_pageheader_pagination">{PAGE_NUMBER}&nbsp;[ {TOTAL_TOPICS} ]&nbsp;<!-- INCLUDE pagination.html --></span>
			<!-- ENDIF -->
		</div>
		<!-- IF MODERATORS -->
		<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->

	<!-- IF not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow or S_DISPLAY_POST_INFO) -->
	<div class="tsn8_myspot_wrapper">
		<span class="tsn8_myspot_module_header">{L_TOPICS}
			<!-- IF U_MARK_TOPICS --><span style="float: right;"><a title="{L_MARK_TOPICS_READ}" href="{U_MARK_TOPICS}"><span class="tsn8_icon tsn8_icon_markall"></span></a></span><!-- ENDIF -->
		</span>
		<!-- IF (S_IS_POSTABLE or S_NO_READ_ACCESS) and MODERATORS -->
		<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
		<!-- ENDIF -->
		<!-- BEGIN topicrow -->
		<!-- IF topicrow.S_TOPIC_TYPE_SWITCH eq 1 -->
		<div class="tsn8_forum_row_wrapper tsn8_forum_category_wrapper">
			<p class="tsn8_forum_category_header">{L_ANNOUNCEMENTS}</p>
		</div>
		<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH eq 0 -->
		<div class="tsn8_forum_row_wrapper tsn8_forum_category_wrapper">
			<p class="tsn8_forum_category_header">{L_TOPICS}</p>
		</div>
		<!-- ENDIF -->
		<div class="tsn8_topic_row_wrapper">
			<div class="tsn8_topic_folder_icon">{topicrow.TOPIC_FOLDER_IMG}</div>
			<div class="tsn8_topic_list_info">
				<p class="tsn8_topic_list_header">
					<!-- IF S_TOPIC_ICONS and topicrow.TOPIC_ICON_IMG --><img
						src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}"
						height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title=""/><!-- ENDIF -->
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
					{topicrow.ATTACH_ICON_IMG}<!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED -->
					<b>{topicrow.TOPIC_TYPE}</b><!-- ENDIF -->
					<a class="tsn8_forum_link" title="{L_POSTED}: {topicrow.FIRST_POST_TIME}"
					   href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a>
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a
						href="{topicrow.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a>&nbsp;<!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
					<!-- ENDIF -->
				</p>

				<p class="tsn8_forum_description">{L_BY}: {topicrow.TOPIC_AUTHOR_FULL}<!-- IF topicrow.PAGINATION --> [
					{GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ]</p><!-- ENDIF -->
			</div>
			<div class="tsn8_forum_topics_count">
			<span class="tsn8_myspot_stat">
				<span class="tsn8_topic_stat_value">{topicrow.REPLIES}</span>
				<span class="tsn8_topic_stat_header">{L_REPLIES}</span>
			</span>
			</div>
			<div class="tsn8_forum_topics_count">
			<span class="tsn8_myspot_stat">
				<span class="tsn8_topic_stat_value">{topicrow.VIEWS}</span>
				<span class="tsn8_topic_stat_header">{L_VIEWS}</span>
			</span>
			</div>
			<div class="tsn8_topic_last_post_wrapper">
				<!-- IF topicrow.LAST_POST_TIME -->
				<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_AVATAR}</p>

				<p class="topicdetails"><a href="{topicrow.U_LAST_POST}">{topicrow.LAST_POST_TIME} {LAST_POST_IMG}</a>
				</p>
				<!-- ELSE -->
				<p class="topicdetails">{L_NO_POSTS}</p>
				<!-- ENDIF -->
			</div>
		</div>

		<!-- BEGINELSE -->
		<!-- IF S_IS_POSTABLE -->
		<p><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></p><!-- ENDIF -->
		<!-- END topicrow -->

		<form class="tsn8_forum_footer_filters" method="post" action="{S_FORUM_ACTION}">
			<span class="gensmall">{L_DISPLAY_TOPICS}:</span>&nbsp;{S_SELECT_SORT_DAYS}&nbsp;
			<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;
			<input class="btnlite" type="submit" name="sort" value="{L_GO}"/>
		</form>
	</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS or (not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow)) -->
	<div class="tsn8_viewtopic_pageheader">
		<div class="tsn8_viewtopic_pageheader_header_wrapper">
			<span class="tsn8_viewtopic_pageheader_header"><a href="{U_VIEW_TOPIC}">{FORUM_NAME}</a></span>
			<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<span class="tsn8_viewtopic_pageheader_buttons"><a href="{U_POST_NEW_TOPIC}" title="{L_NEW_TOPIC}"><span class="tsn8_icon_nohover tsn8_icon_newtopic"></span></a></span>
			<!-- ENDIF -->
		</div>
		<div class="tsn8_viewtopic_pageheader_control_wrapper">
			<!-- IF not S_IS_BOT and S_WATCH_FORUM_LINK -->
			<span class="tsn8_viewtopic_pageheader_topicbuttons"><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}"><span class="tsn8_icon_mini tsn8_icon_subscribe"></span></a></span>
			<!-- ENDIF -->
			<!-- IF TOTAL_POSTS -->
			<span class="tsn8_viewtopic_pageheader_pagination">{PAGE_NUMBER}&nbsp;[ {TOTAL_TOPICS} ]&nbsp;<!-- INCLUDE pagination.html --></span>
			<!-- ENDIF -->
		</div>
		<!-- IF MODERATORS -->
		<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->
</div>
<span class="tsn8_forum_jumpbox_wrapper"><!-- INCLUDE jumpbox.html --></span>
<!-- INCLUDE breadcrumbs.html -->

<div class="tsn8_viewforum_stats_wrapper">
	<!-- IF S_DISPLAY_ONLINE_LIST -->
	<div class="tsn8_myspot_viewforum_stats_wrapper tsn8_myspot_wrapper">
		<span class="tsn8_myspot_module_header">{L_ONLINE_NOW}</span>

		<div class="tsn8_myspot_module_stats">
			<span class="tsn8_forum_online_user_avatars">{LOGGED_IN_USER_LIST}</span>
		</div>
	</div>
	<!-- ENDIF -->
	<!-- IF S_HAS_PERMISSIONS -->
	<div class="tsn8_myspot_viewforum_stats_wrapper tsn8_myspot_wrapper">
		<span class="tsn8_myspot_module_header">{L_PERMISSIONS}</span>

		<div class="tsn8_myspot_module_stats">
			<!-- BEGIN permissions -->
			<span class="tsn8_myspot_stat">
				<!-- IF permissions.PERMISSION -->
				<span class="tsn8_icon_mini_nohover tsn8_icon_check"></span>
				<!-- ELSE -->
				<span class="tsn8_icon_mini_nohover tsn8_icon_x"></span>
				<!-- ENDIF -->
				<span class="tsn8_topic_stat_header">{permissions.ABILITY}</span>
			</span>
			<!-- END permissions -->
		</div>
	</div>
	<!-- ENDIF -->
</div>

<!-- IF S_DISPLAY_POST_INFO -->

<table width="100%" cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="top">
			<table cellspacing="3" cellpadding="0" border="0">
				<tr>
					<td width="20" style="text-align: center;">{FOLDER_NEW_IMG}</td>
					<td class="gensmall">{L_NEW_POSTS}</td>
					<td>&nbsp;&nbsp;</td>
					<td width="20" style="text-align: center;">{FOLDER_IMG}</td>
					<td class="gensmall">{L_NO_NEW_POSTS}</td>
					<td>&nbsp;&nbsp;</td>
					<td width="20" style="text-align: center;">{FOLDER_ANNOUNCE_IMG}</td>
					<td class="gensmall">{L_ICON_ANNOUNCEMENT}</td>
				</tr>
				<tr>
					<td style="text-align: center;">{FOLDER_HOT_NEW_IMG}</td>
					<td class="gensmall">{L_NEW_POSTS_HOT}</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align: center;">{FOLDER_HOT_IMG}</td>
					<td class="gensmall">{L_NO_NEW_POSTS_HOT}</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align: center;">{FOLDER_STICKY_IMG}</td>
					<td class="gensmall">{L_ICON_STICKY}</td>
				</tr>
				<tr>
					<td style="text-align: center;">{FOLDER_LOCKED_NEW_IMG}</td>
					<td class="gensmall">{L_NEW_POSTS_LOCKED}</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align: center;">{FOLDER_LOCKED_IMG}</td>
					<td class="gensmall">{L_NO_NEW_POSTS_LOCKED}</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align: center;">{FOLDER_MOVED_IMG}</td>
					<td class="gensmall">{L_TOPIC_MOVED}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- ENDIF -->

<div id="tsn8_newtopic_modal" class="tsn8_modal_wrapper" style="display: none;"></div>

<!-- INCLUDE overall_footer.html -->