<!-- INCLUDE overall_header.html -->

<div class="tsn8_viewtopic_pageheader">
	<div class="tsn8_viewtopic_pageheader_header_wrapper">
		<span class="tsn8_viewtopic_pageheader_header"><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></span>
		<span class="tsn8_viewtopic_pageheader_buttons">
			<!-- IF not S_IS_BOT -->
				<!-- IF S_DISPLAY_POST_INFO --><a href="{U_POST_NEW_TOPIC}" title="{L_NEW_TOPIC}"><span class="tsn8_icon_nohover tsn8_icon_newtopic"></span></a>&nbsp;&nbsp;<!-- ENDIF -->
				<!-- IF S_DISPLAY_REPLY_INFO --><a href="{U_POST_REPLY_TOPIC}" title="{L_POST_REPLY}"><span class="tsn8_icon_nohover tsn8_icon_addreply"></span></a><!-- ENDIF -->
			<!-- ENDIF -->
			<!--<a href="{U_VIEW_OLDER_TOPIC}">{L_VIEW_PREVIOUS_TOPIC}</a>&lt;!&ndash; IF U_VIEW_UNREAD_POST and not S_IS_BOT &ndash;&gt; | <a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a>&lt;!&ndash; ENDIF &ndash;&gt; | <a href="{U_VIEW_NEWER_TOPIC}">{L_VIEW_NEXT_TOPIC}</a>-->
		</span>
	</div>
	<div class="tsn8_viewtopic_pageheader_control_wrapper">
		<span class="tsn8_viewtopic_pageheader_topicbuttons">
		<!-- IF not S_IS_BOT -->
			<!-- IF U_WATCH_TOPIC --><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_subscribe"></span></a><!-- ENDIF -->
			<!-- IF U_BOOKMARK_TOPIC --><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_bookmark"></span></a><!-- ENDIF -->
			<!-- IF U_PRINT_TOPIC --><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_print"></span></a><!-- ENDIF -->
			<!-- IF U_EMAIL_TOPIC --><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_attach"></span></a><!-- ENDIF -->
			<!-- IF U_BUMP_TOPIC --><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_bump"></span></a><!-- ENDIF -->
		<!-- ENDIF -->
		</span>
		<!-- IF TOTAL_POSTS -->
		<span class="tsn8_viewtopic_pageheader_pagination">{PAGE_NUMBER}&nbsp;[ {TOTAL_POSTS} ]&nbsp;<!-- INCLUDE pagination.html --></span>
		<!-- ENDIF -->
	</div>
	<!-- IF MODERATORS -->
	<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
	<!-- ENDIF -->
</div>

<div id="pagecontent">
	<!-- IF S_HAS_POLL -->
	<div class="tsn8_viewtopic_poll_wrapper">
		<form method="post" action="{S_POLL_ACTION}">
			<span class="tsn8_viewtopic_poll_question">{POLL_QUESTION}<br/>{L_POLL_LENGTH}</span><br/>

			<div class="tsn8_viewtopic_poll_list_wrapper">
				<!-- BEGIN poll_option -->
				<p class="tsn8_viewtopic_poll_option_item">
					<!-- IF S_CAN_VOTE -->
					<!-- IF S_IS_MULTI_CHOICE -->
					<input type="checkbox" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}" id="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
					<!-- ELSE -->
					<input type="radio" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}" id="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
					<!-- ENDIF -->
					<!-- ENDIF -->
					<label class="tsn8_viewtopic_poll_option_label" for="{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label>
					<!-- IF S_DISPLAY_RESULTS -->
					<span class="tsn8_viewtopic_poll_result_percent">{poll_option.POLL_OPTION_PERCENT}&nbsp;[ {poll_option.POLL_OPTION_RESULT} ]</span>
					<span dir="ltr" class="tsn8_viewtopic_poll_result_graph">{POLL_LEFT_CAP_IMG}{poll_option.POLL_OPTION_IMG}{POLL_RIGHT_CAP_IMG}<!-- IF poll_option.POLL_OPTION_VOTED -->&nbsp;<b title="{L_POLL_VOTED_OPTION}">&#10003;</b><!-- ENDIF --></span>
					<!-- ENDIF -->
				</p>
				<!-- END poll_option -->
				<!-- IF S_CAN_VOTE -->
				<span class="tsn8_viewtopic_poll_total_votes">{L_MAX_VOTES}<br/><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="btnlite"/></span>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_RESULTS -->
				<span class="tsn8_viewtopic_poll_total_votes">{L_TOTAL_VOTES} : {TOTAL_VOTES}</span>
				<!-- ELSE -->
				<span class="tsn8_viewtopic_poll_total_votes"><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></span>
				<!-- ENDIF -->
			</div>

			{S_HIDDEN_FIELDS}
		</form>
	</div>
	<!-- ENDIF -->
	<!-- BEGIN postrow -->
	<!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{postrow.POST_ID}"></a>

	<div class="tsn8_viewtopic_post_wrapper tsn8_myspot_wrapper">
		<!-- IF postrow.S_IGNORE_POST -->
		<span class="tsn8_viewtopic_post_ignored"><!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{postrow.POST_ID}"></a>{postrow.L_IGNORE_POST}</span>
		<!-- ELSE -->
		<div class="tsn8_viewtopic_post_author_wrapper">
			<div class="tsn8_viewtopic_post_author_maininfo">
				<!-- IF postrow.POSTER_AVATAR --><span class="tsn8_viewtopic_post_avatar">{postrow.POSTER_AVATAR}</span><!-- ENDIF -->
				<span class="tsn8_viewtopic_post_author tsn8_viewtopic_meta_block" <!-- IF postrow.POST_AUTHOR_COLOUR --> style="color: {postrow.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{postrow.POST_AUTHOR}</span>
				<!-- IF postrow.RANK_TITLE --><span class="tsn8_viewtopic_authorcard_rank tsn8_viewtopic_meta_block">"{postrow.RANK_TITLE}"</span><br/><!-- ENDIF -->
				<!--&lt;!&ndash; IF postrow.RANK_IMG &ndash;&gt;-->
				<!--<span class="tsn8_viewtopic_authorcard_rank_image tsn8_viewtopic_meta_block">{postrow.RANK_IMG}</span>-->
				<!--&lt;!&ndash; ENDIF &ndash;&gt;-->
				<span class="tsn8_viewtopic_authorcard_icons tsn8_viewtopic_meta_block">
					<!-- IF postrow.POSTER_JOINED --><span class="tsn8_icon tsn8_icon_joined" title="{L_JOINED}: {postrow.POSTER_JOINED}"></span>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.POSTER_FROM --><span class="tsn8_icon tsn8_icon_geo" title="{postrow.POSTER_FROM}"></span>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.ONLINE_IMG or postrow.U_PM -->
						<!-- IF postrow.U_PM --><a href="{postrow.U_PM}" title="{L_SEND_PRIVATE_MESSAGE}"><!-- ENDIF --><span class="tsn8_icon_nohover tsn8_icon_<!-- IF postrow.ONLINE_IMG -->{postrow.ONLINE_IMG}<!-- ELSE -->offline<!-- ENDIF -->"></span><!-- IF postrow.U_PM -->
				</a><!-- ENDIF -->
					<!-- ENDIF -->
				</span>
				<span class="tsn8_viewtopic_authorcard_icons tsn8_viewtopic_meta_block">
					<!-- IF postrow.U_PROFILE --><a href="{postrow.U_PROFILE}"><span class="tsn8_icon tsn8_icon_profile"></span></a> <!-- ENDIF -->
					<!-- IF postrow.U_EMAIL --><a href="{postrow.U_EMAIL}"><span class="tsn8_icon tsn8_icon_email"></span></a> <!-- ENDIF -->
				</span>
				<!-- IF postrow.POSTER_POSTS != '' -->
				<span class="tsn8_viewtopic_authorcard_icons tsn8_viewtopic_meta_block"><b>{L_POSTS}: </b>{postrow.POSTER_POSTS}</span>
				<!-- ENDIF -->
			</div>
		</div>
		<div class="tsn8_viewtopic_post_meta">
			<!-- IF postrow.POST_ICON_IMG -->
			<span class="tsn8_viewtopic_post_icon"><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" title=""/></span>
			<!-- ENDIF -->
			<span class="tsn8_viewtopic_post_subject">
				<!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ELSE --><a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a><!-- ENDIF -->
				<!-- IF postrow.POST_SUBJECT --><b>{L_POST_SUBJECT}:</b> {postrow.POST_SUBJECT}<br/><!-- ENDIF -->
				<b>{L_POSTED}:</b> {postrow.POST_DATE}
			</span>
		</div>
		<div class="tsn8_viewtopic_post_body_wrapper">
			<!-- IF postrow.S_POST_UNAPPROVED --><span class="tsn8_postapprove">{UNAPPROVED IMG}<br/><a href="{postrow.U_MCP_APPROVE}">{L_POST_UNAPPROVED}</a></span><!-- ENDIF -->
			<!-- IF postrow.S_POST_REPORTED --><span class="tsn8_postreported">{REPORTED IMG}<br/><a href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF -->
			<span class="tsn8_viewtopic_post_body">{postrow.MESSAGE}</span>

			<!-- IF postrow.S_HAS_ATTACHMENTS -->
			<!-- IF postrow.S_DISPLAY_NOTICE -->
			<span class="tsn8_postapprove"><br/><br/>{L_DOWNLOAD_NOTICE}</span>
			<!-- ENDIF -->
			<div class="tsn8_viewtopic_post_attachment_wrapper">
				<span class="tsn8_viewtopic_post_attachment_label">{L_ATTACHMENTS}:</span>
				<!-- BEGIN attachment -->
				<p class="tsn8_viewtopic_post_attachment_item">{postrow.attachment.DISPLAY_ATTACHMENT}</p>
				<!-- END attachment -->
			</div>
			<!-- ENDIF -->
			<!-- IF postrow.SIGNATURE -->
			<span class="tsn8_viewtopic_post_signature">{postrow.SIGNATURE}</span>
			<!-- ENDIF -->
			<!-- IF postrow.EDITED_MESSAGE	-->
			<br/><span class="tsn8_myspot_footer_message">{postrow.EDITED_MESSAGE}<!-- IF postrow.EDIT_REASON -->: {postrow.EDIT_REASON}<!-- ENDIF --></span>
			<!-- ENDIF -->
			<!-- IF postrow.BUMPED_MESSAGE	-->
			<br/><span class="tsn8_myspot_footer_message">{postrow.BUMPED_MESSAGE}</span>
			<!-- ENDIF -->
		</div>
		<span class="tsn8_viewtopic_post_footer">
			<span class="tsn8_viewtopic_post_footer_controls_left">
				<!-- IF not S_IS_BOT -->
					<!-- IF postrow.U_WARN --><a href="{postrow.U_WARN}"><span class="tsn8_icon_mini tsn8_icon_warn"></span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_REPORT --><a href="{postrow.U_REPORT}"><span class="tsn8_icon_mini tsn8_icon_report"></span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_DELETE --><a href="{postrow.U_DELETE}"><span class="tsn8_icon_mini tsn8_icon_trash"></span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_INFO --><a href="{postrow.U_INFO}"><span class="tsn8_icon_mini tsn8_icon_info"></span></a>&nbsp;<!-- ENDIF -->
				<!-- ENDIF -->
			</span>
			<span class="tsn8_viewtopic_post_footer_controls_right">
				<!-- IF not S_IS_BOT -->
					<!-- IF postrow.U_EDIT --><a href="{postrow.U_EDIT}"><span class="tsn8_icon_nohover tsn8_icon_edit"></span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_QUOTE --><a href="{postrow.U_QUOTE}"><span class="tsn8_icon_nohover tsn8_icon_quote"></span></a><!-- ENDIF -->
				<!-- ENDIF -->
				<a href="#wrapheader"><span class="tsn8_icon tsn8_icon_top"></span></a>
			</span>
		</span>
		<!-- ENDIF -->
	</div>
	<!-- END postrow -->
</div>

<div class="tsn8_viewtopic_pagefooter">
	<div class="tsn8_viewtopic_pageheader_header_wrapper">
		<span class="tsn8_viewtopic_pagefooter_form">
			<form name="viewtopic" method="post" action="{S_TOPIC_ACTION}">
				{L_DISPLAY_POSTS}:&nbsp;{S_SELECT_SORT_DAYS}&nbsp;&nbsp;{L_SORT_BY}:&nbsp;{S_SELECT_SORT_KEY}&nbsp;&nbsp;{S_SELECT_SORT_DIR}&nbsp;<input class="tsn8_icon_mini tsn8_icon_send" value="" type="submit" name="sort"/>
			</form>
		</span>
		<span class="tsn8_viewtopic_pageheader_buttons">
			<!-- IF not S_IS_BOT -->
				<!-- IF S_DISPLAY_POST_INFO --><a href="{U_POST_NEW_TOPIC}" title="{L_NEW_TOPIC}"><span class="tsn8_icon_nohover tsn8_icon_newtopic"></span></a>&nbsp;&nbsp;<!-- ENDIF -->
				<!-- IF S_DISPLAY_REPLY_INFO --><a href="{U_POST_REPLY_TOPIC}" title="{L_POST_REPLY}"><span class="tsn8_icon_nohover tsn8_icon_addreply"></span></a><!-- ENDIF -->
			<!-- ENDIF -->
			<!--<a href="{U_VIEW_OLDER_TOPIC}">{L_VIEW_PREVIOUS_TOPIC}</a>&lt;!&ndash; IF U_VIEW_UNREAD_POST and not S_IS_BOT &ndash;&gt; | <a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a>&lt;!&ndash; ENDIF &ndash;&gt; | <a href="{U_VIEW_NEWER_TOPIC}">{L_VIEW_NEXT_TOPIC}</a>-->
		</span>
	</div>
	<div class="tsn8_viewtopic_pageheader_control_wrapper">
		<span class="tsn8_viewtopic_pageheader_topicbuttons">
		<!-- IF not S_IS_BOT -->
			<!-- IF U_WATCH_TOPIC --><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_subscribe"></span></a><!-- ENDIF -->
			<!-- IF U_BOOKMARK_TOPIC --><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_bookmark"></span></a><!-- ENDIF -->
			<!-- IF U_PRINT_TOPIC --><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_print"></span></a><!-- ENDIF -->
			<!-- IF U_EMAIL_TOPIC --><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_attach"></span></a><!-- ENDIF -->
			<!-- IF U_BUMP_TOPIC --><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}"><span class="tsn8_icon_mini tsn8_icon_bump"></span></a><!-- ENDIF -->
		<!-- ENDIF -->
		</span>
		<!-- IF TOTAL_POSTS -->
		<span class="tsn8_viewtopic_pageheader_pagination">{PAGE_NUMBER}&nbsp;[ {TOTAL_POSTS} ]&nbsp;<!-- INCLUDE pagination.html --></span>
		<!-- ENDIF -->
	</div>
	<!-- IF MODERATORS -->
	<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
	<!-- ENDIF -->
</div>

<!-- IF S_DISPLAY_ONLINE_LIST -->
<br clear="all"/>

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
</table>
<!-- ENDIF -->

<br clear="all"/>

<table width="100%" cellspacing="1">
	<tr>
		<td width="40%" valign="top" nowrap="nowrap" align="{S_CONTENT_FLOW_BEGIN}"><!-- IF S_TOPIC_MOD -->
			<form method="post" action="{S_MOD_ACTION}"><span class="gensmall">{L_QUICK_MOD}:</span> {S_TOPIC_MOD}
				<input class="btnlite" type="submit" value="{L_GO}"/></form>
			<!-- ENDIF --></td>
		<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br/><!-- END rules --></span>
		</td>
	</tr>
</table>

<br clear="all"/>

<table width="100%" cellspacing="0">
	<tr>
		<td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
		<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->