	<table class="tablebg2" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>Twitter Stats</h4></td>
	</tr>
	<tr>
		<td class="row1" width="100%">
			<p align="center">
				<div style="width:132px;text-align:center"><embed src="http://twitter.com/flash/twitter_badge.swf"  flashvars="color1=13158&type=user&id=12804332"  quality="high" width="132" height="132" name="twitter_badge" align="middle" allowScriptAccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /><br><a style="font-size: 10px; color: #003366; text-decoration: none" href="http://twitter.com/thespotnet">follow thespotnet at http://twitter.com</a></div>
			</p>
			<br />
			<p align="center">
				<a href="http://twittercounter.com/?username=thespotnet" title="TwitterCounter for @thespotnet"><img src="http://twittercounter.com/counter/?username=thespotnet&style=blue" width="88" height="26" style="border:none;" alt="TwitterCounter for @thespotnet" /></a>
			</p>	
		</td>
	</tr>
	</table>
