<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th nowrap="nowrap">Hi there, {USERNAME}!</th>
	</tr>
	<tr>
		<td class="row1" align="center">
			<table cellspacing="1" cellpadding="2" border="0">
				<!-- IF S_USER_INACTIVE -->
				<tr>
					<td align="center" style="color: red;"><b class="gen">{L_USER_IS_INACTIVE}</b><br/>{L_INACTIVE_REASON}:
						{USER_INACTIVE_REASON}<br/><br/></td>
				</tr>
				<!-- ENDIF -->

				<!-- IF RANK_TITLE -->
				<tr>
					<td class="postdetails" align="center">{RANK_TITLE}</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF RANK_IMG -->
				<tr>
					<td align="center">{RANK_IMG}</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF AVATAR_IMG -->
				<tr>
					<td align="center">{AVATAR_IMG}</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ONLINE_IMG -->
				<tr>
					<td align="center">{ONLINE_IMG}</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF U_USER_ADMIN -->
				<tr>
					<td align="center"><span class="gensmall"> [ <a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a> ]</span>
					</td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td align="center">
						<hr width="75%">
					</td>
				</tr>
				<tr>
					<td align="center"><span class="gensmall">{L_JOINED}: {JOINED}</span></td>
				</tr>
				<tr>
					<td align="center"><span class="gensmall">{L_VISITED}: {VISITED}</span></td>
				</tr>
				<!-- IF U_NOTES or U_WARN -->
				<tr>
					<td align="center" valign="top"><span class="gensmall">{L_WARNINGS}: <b>{WARNINGS}</b><br/>[ <a
							href="{U_NOTES}">{L_VIEW_NOTES}</a> ]</span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td align="center" valign="top"><span class="gensmall">{L_TOTAL_POSTS}: <b>{POSTS}</b><!-- IF POSTS_PCT --><br/>[{POSTS_PCT} / {POSTS_DAY}]<!-- ENDIF --></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>